<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee; http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd http://java.sun.com/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee" id="WebApp_ID" version="2.5">
  <display-name>webstudy07-servlet-LifeCycle</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LifeCycleServlet</display-name>
    <servlet-name>LifeCycleServlet</servlet-name>
    <servlet-class>step1.LifeCycleServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>LifeCycleServlet</servlet-name>
    <url-pattern>/LifeCycleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CountServlet</display-name>
    <servlet-name>CountServlet</servlet-name>
    <servlet-class>step2.CountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CountServlet</servlet-name>
    <url-pattern>/CountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletConfigTestServlet</display-name>
    <servlet-name>MyServletConfigTestServlet</servlet-name>
    <servlet-class>step3.ServletConfigTestServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>springmvc-config.xml</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyServletConfigTestServlet</servlet-name>
    <url-pattern>/ServletConfigTestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContextTest1</display-name>
    <servlet-name>ContextTest1</servlet-name>
    <servlet-class>step4.ContextTest1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContextTest1</servlet-name>
    <url-pattern>/ContextTest1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContextTest2</display-name>
    <servlet-name>ContextTest2</servlet-name>
    <servlet-class>step5.ContextTest2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContextTest2</servlet-name>
    <url-pattern>/ContextTest2</url-pattern>
  </servlet-mapping>
  <context-param>
  	<param-name>security</param-name>
  	<param-value>spring-security.xml</param-value>
  </context-param>
</web-app>