<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee; http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>webstudy05-servlet-basic</display-name>
  <welcome-file-list>
    <welcome-file>home.jsp</welcome-file>
  </welcome-file-list>
  <!-- servlet 태그 : servlet을 application의 환경설정 정보를 담는 web.xml파일에 등록한다 -->
  <servlet>
    <description></description>
    <display-name>HelloServlet</display-name>
    <!-- servlet name : developer가 명명하는 서블릿 이름, 밑의 servlet mapping의 servlet-name과 연결 -->
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class>step1.HelloServlet</servlet-class>
  </servlet>
  <!-- servlet 연결작업 -->
  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <!-- url 상에 나타나는 주소값 - 해당 url로 서버의 해당 서블릿으로 요청 -->
    <url-pattern>/HelloServlet</url-pattern>
  </servlet-mapping>
</web-app>