<?xml version="1.0" encoding="UTF-8"?>
<!-- Sql Mapper -->
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kosta.myproject.model.mapper.PointMapper">
 	<select id="findPointById" resultType="pointVO">
 		select id,point,point_type from point_tx where id=#{value}
 	</select>
 	<insert id="registerPoint" parameterType="pointVO">
 		insert into point_tx(id,point,point_type) values(#{id},#{point},#{pointType})
 	</insert>
</mapper>