<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee; http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>webstudy08-ServletConfig-ServletContext</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>OneServlet</display-name>
    <servlet-name>OneServlet</servlet-name>
    <servlet-class>step1.OneServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>/WEB-INF/dispatcher-servlet.xml</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>OneServlet</servlet-name>
    <url-pattern>/OneServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TwoServlet</display-name>
    <servlet-name>TwoServlet</servlet-name>
    <servlet-class>step2.TwoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TwoServlet</servlet-name>
    <url-pattern>/TwoServlet</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>appSecurity</param-name>
    <param-value>/WEB-INF/spring-security.xml</param-value>
  </context-param>
  <listener>
    <listener-class>step3.TestListener</listener-class>
  </listener>
</web-app>