@charset "UTF-8";
.container{
	padding-top: 15px;
	padding-left: 50px;
	padding-right: 50px;
	/*중앙정렬*/
	display: grid;
	place-content: center;
}
/*밑줄 제거 데코 none*/
a {
	text-decoration: none;
	color: #ff9966;	
}
/*마우스 가져갔을 때 색깔 변경*/
a:hover {
	text-decoration: none;
	color: #9933ff;
}
table {
	border-collapse: collapse;
}
table,td,th{
	border: 1px solid black;
}
td,th {
	padding: 15px;
}
