<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee; http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee; http://xmlns.jcp.org/xml/ns/javaee" id="WebApp_ID" version="2.5">
  <display-name>webstudy06-servlet-basic</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>basic</servlet-name>
    <servlet-class>step1.BasicServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>basic</servlet-name>
    <url-pattern>/BasicServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetTestServlet</display-name>
    <servlet-name>GetTestServlet</servlet-name>
    <servlet-class>step2.GetTestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetTestServlet</servlet-name>
    <url-pattern>/GetTestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostTestServlet</display-name>
    <servlet-name>PostTestServlet</servlet-name>
    <servlet-class>step3.PostTestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostTestServlet</servlet-name>
    <url-pattern>/PostTestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RadioServlet</display-name>
    <servlet-name>RadioServlet</servlet-name>
    <servlet-class>step4.RadioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RadioServlet</servlet-name>
    <url-pattern>/RadioServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckboxServlet</display-name>
    <servlet-name>CheckboxServlet</servlet-name>
    <servlet-class>step5.CheckboxServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckboxServlet</servlet-name>
    <url-pattern>/CheckboxServlet</url-pattern>
  </servlet-mapping>
</web-app>